<nav class="d-flex justify-content-between container shadow-lg">
    <h1 class="mt-2 ps-3 text-primary">PHARMACY STORE🏥</h1>
    <ul class="d-flex list-unstyled gap-5 mt-2 pe-3">
        <li><a class="fs-3 text-decoration-none" href="/">Home</a></li>
        <li><a class="fs-3 text-decoration-none" href="/sign-out">Sign Out</a></li>
    </ul>
</nav>