<%- include("partials/header")%>

<div class="d-flex container w-100 h-75 shadow mt-5">
  <div class="h-left w-50  d-flex align-items-center flex-column justify-content-center">
       <h1 class="fs-1 text-center fw-bold "><span>WELCOME</span> <br><span>To</span>  <br> <span class="text-primary ps-5">PHARMACY STORE</span></h1>
     <button class="btn btn-success mt-5 fs-2"><a class="text-decoration-none text-light" href="/sign-in">Sign In</a></button>
  </div>
  <div class="h-right w-50 d-flex align-items-center justify-content-center">
    <img class="w-100 pe-5" src="https://images.freeimages.com/clg/istock/previews/9558/95587073-male-pharmacist-at-the-counter-in-a-pharmacy-shop.jpg" alt="">
  </div>
</div>

<%- include("partials/footer")%>
